div.ag-theme-alpine div.ag-row {
  font-size: x-small;
}

div.ag-theme-alpine ag-cell {
  white-space: break-spaces;
}

.mainBlotter {
  width: 100%;
  height: 100%;
  font-size: small;
  display: flex;
  flex-direction: column;
}

.agGrid {
  height: 300px;
  width: 100%;
  color: #16518d;
}