.mainBody {
  width: 80vw;
  min-height: 90vh;
  top: 5vh;
  left: 10vw;
  position: absolute;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 4px;
  font-size: smaller;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.mainSelection {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.mainTheme {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.mainOptions {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.mainToolBar {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.mainContentDiv {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid lightgray;
}

.mainTop {
  display: flex;
  flex-direction: column;
  height: 400px;
}


.mainActivity {
  display: flex;
  width: 100%;
  max-height: 300px;
  overflow-y: hidden;
  border: 1px solid lightgray;
}

.mainPanels {
  display: flex;
  flex-direction: row;
  height: 380px;
}

.mainPanel1 {
  width: 35%;
  height: 100%;
}

.mainPanel2 {
  width: 30%;
  height: 100%;
}

.mainPanel3 {
  width: 35%;
  height: 100%;
}

.mainPanel1Client {
  width: 40%;
  height: 100%;
}

.mainPanel2Client {
  width: 40%;
  height: 100%;
}

.mainPanel3Client {
  width: 20%;
  height: 100%;
}

.mainAnalysis {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.mainAnalysisProperties {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column
}

.mainAnalysisArea {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mainAnalysisFilter {}

.mainAnalysisContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.mainAnalysisChart {
  height: 50%;
  display: flex;
  width: 100%;
}

.mainAnalysisBlotter {
  display: flex;
  height: 50%;
  width: 100%;
}

.mainPhases {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  text-align: center;
}